<div >
  <div *ngIf="datos">
    <img [src]="datos.picture || datos.foto" 
    alt="Perfil"
    referrerpolicy="no-referrer"
    (error)="onImgError($event)">
    <span>Bienvenido, 
      <strong>
        {{ datos.name || datos.nombre || datos.displayName || 'Usuario' }}
      </strong>
    </span>
  </div>
  
  <button *ngIf="datos" (click)="onLogout()">Cerrar Sesión</button>

  <li *ngIf="datos">
    <a [routerLink]="['/home']" routerLinkActive="active" style="cursor: pointer;">
      <i></i>Inicio
    </a>
    <a [routerLink]="['/inventario']" routerLinkActive="active" style="cursor: pointer;">
      <i></i>Inventario
    </a>
     <a [routerLink]="['/crear-mueble']" routerLinkActive="active" style="cursor: pointer;">
      <i></i>crear
    </a>
         <a [routerLink]="['/papelera']" routerLinkActive="active" style="cursor: pointer;">
      <i></i>Papelera
    </a>
  </li>
</div>