/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

:root {
  --primary: #2352cc;
  --warning: #f59e0b;
  --danger: #ef4444;
  --text: #1a1d2e;
  --text-muted: #64748b;
  --border: #e2e8f0;
  --surface: #f8fafc;
  --radius: 12px;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: #f7f8fc;
  color: var(--text);
}